{% extends 'base.html' %}

{% block body %}

<nav>
	<ul>
		<li><a href="./">Home</a></li>
		<li><a class="active" href="./about">About Us</a></li>
		<li><a href="./estimate">Get an Estimate</a></li>
	</ul>
</nav>

<h2> About </h2>
<hr />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Diam ut venenatis tellus in metus vulputate eu. Diam quis enim lobortis scelerisque fermentum dui faucibus
	in ornare. Ultrices vitae auctor eu augue ut lectus arcu. Eget velit aliquet sagittis id consectetur purus ut
	faucibus. Scelerisque varius morbi enim nunc faucibus a pellentesque sit. Tortor vitae purus faucibus ornare
	suspendisse sed nisi. Aliquet sagittis id consectetur purus ut faucibus pulvinar. Dictum at tempor commodo
	ullamcorper a. Dui vivamus arcu felis bibendum ut tristique. Enim nulla aliquet porttitor lacus luctus accumsan
	tortor posuere ac.
	<br />
	<br />
	Placerat duis ultricies lacus sed turpis tincidunt id aliquet risus. Ut pharetra sit amet aliquam id diam. Bibendum
	arcu vitae elementum curabitur vitae. Sodales ut etiam sit amet nisl purus in mollis. Sed elementum tempus egestas
	sed sed risus pretium quam vulputate. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Sed enim
	ut sem viverra aliquet eget sit amet. Ultrices eros in cursus turpis massa tincidunt dui ut. Aenean et tortor at
	risus. Blandit cursus risus at ultrices.
	<br />
	<br />
	Tempor nec feugiat nisl pretium fusce. Gravida neque convallis a cras semper auctor. Facilisi nullam vehicula ipsum
	a arcu. Sit amet mauris commodo quis imperdiet massa. Tellus orci ac auctor augue mauris. Sit amet venenatis urna
	cursus. Nunc pulvinar sapien et ligula ullamcorper. Platea dictumst quisque sagittis purus sit amet volutpat
	consequat mauris. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Dui accumsan sit amet nulla
	facilisi morbi. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Vivamus arcu felis bibendum ut.
	Odio aenean sed adipiscing diam donec adipiscing tristique risus nec. Volutpat blandit aliquam etiam erat velit
	scelerisque in dictum non. Enim tortor at auctor urna.
	<br />
	<br />
	Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu. Dui sapien eget mi proin. Sit amet volutpat consequat
	mauris nunc. Ornare arcu dui vivamus arcu felis. Sagittis aliquam malesuada bibendum arcu vitae. Purus gravida quis
	blandit turpis cursus in hac habitasse. Consectetur a erat nam at lectus urna duis. Habitant morbi tristique
	senectus et netus et malesuada fames ac. Id interdum velit laoreet id donec ultrices tincidunt arcu. Aliquam
	ultrices sagittis orci a scelerisque purus semper eget. Ultricies tristique nulla aliquet enim tortor at auctor urna
	nunc. At elementum eu facilisis sed odio morbi quis commodo odio. Feugiat scelerisque varius morbi enim nunc
	faucibus.
	<br />
	<br />
	Pharetra diam sit amet nisl suscipit adipiscing bibendum. Ac turpis egestas maecenas pharetra convallis posuere
	morbi leo urna. Vitae congue eu consequat ac felis donec et. Enim sed faucibus turpis in eu mi bibendum neque.
	Aliquet eget sit amet tellus cras adipiscing enim eu. Donec pretium vulputate sapien nec sagittis aliquam malesuada
	bibendum. Convallis aenean et tortor at risus viverra adipiscing at in. Quam lacus suspendisse faucibus interdum
	posuere lorem. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Quis eleifend quam adipiscing vitae
	proin sagittis. Amet dictum sit amet justo. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Velit
	dignissim sodales ut eu. Viverra adipiscing at in tellus integer feugiat scelerisque. Malesuada nunc vel risus
	commodo viverra maecenas accumsan. Ac placerat vestibulum lectus mauris ultrices eros in. Lacus suspendisse faucibus
	interdum posuere lorem. Donec et odio pellentesque diam volutpat commodo sed egestas. Non diam phasellus vestibulum
	lorem sed risus ultricies tristique. Sed augue lacus viverra vitae congue eu consequat.
</p>

{% endblock %}