{% extends 'base.html' %}

{% block body %}

<nav>
	<ul>
		<li><a href="./">Home</a></li>
		<li><a class="active" href="./about">About Us</a></li>
		<li><a href="./estimate">Get an Estimate</a></li>
	</ul>
</nav>

<h2> About Us </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Lacinia at quis risus sed. Ut sem viverra
	aliquet eget sit amet tellus cras. Et netus et malesuada fames ac turpis egestas integer eget. Leo in vitae turpis
	massa sed elementum. Sem integer vitae justo eget magna fermentum. Vulputate odio ut enim blandit volutpat maecenas
	volutpat blandit aliquam. Ultricies tristique nulla aliquet enim tortor. Nisl condimentum id venenatis a condimentum
	vitae sapien pellentesque habitant. Rhoncus mattis rhoncus urna neque viverra justo. Vitae sapien pellentesque
	habitant morbi tristique senectus et netus. Dignissim cras tincidunt lobortis feugiat vivamus at augue eget arcu.
	Adipiscing commodo elit at imperdiet. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Cursus
	turpis massa tincidunt dui.</p>
	<p>Volutpat odio facilisis mauris sit amet massa vitae tortor. Quis enim lobortis scelerisque fermentum. Ullamcorper
	eget nulla facilisi etiam dignissim diam quis enim lobortis. Cursus vitae congue mauris rhoncus aenean vel elit
	scelerisque mauris. Est sit amet facilisis magna etiam. Sem integer vitae justo eget magna fermentum. Ac ut
	consequat semper viverra nam libero justo laoreet sit. Non blandit massa enim nec dui nunc mattis enim. Et malesuada
	fames ac turpis. Odio facilisis mauris sit amet massa vitae tortor condimentum. Tellus pellentesque eu tincidunt
	tortor aliquam nulla facilisi cras fermentum. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Id donec
	ultrices tincidunt arcu non. Nullam ac tortor vitae purus faucibus ornare suspendisse. Nisi scelerisque eu ultrices
	vitae auctor eu.</p>
	<hr />
<h2> Company History </h2>

<p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet risus. Ut pharetra sit amet aliquam id diam. Bibendum
	arcu vitae elementum curabitur vitae. Sodales ut etiam sit amet nisl purus in mollis. Sed elementum tempus egestas
	sed sed risus pretium quam vulputate. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Sed enim
	ut sem viverra aliquet eget sit amet. Ultrices eros in cursus turpis massa tincidunt dui ut. Aenean et tortor at
	risus. Blandit cursus risus at ultrices.</p>
<p>Tempor nec feugiat nisl pretium fusce. Gravida neque convallis a cras semper auctor. Facilisi nullam vehicula ipsum
	a arcu. Sit amet mauris commodo quis imperdiet massa. Tellus orci ac auctor augue mauris. Sit amet venenatis urna
	cursus. Nunc pulvinar sapien et ligula ullamcorper. Platea dictumst quisque sagittis purus sit amet volutpat
	consequat mauris. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Dui accumsan sit amet nulla
	facilisi morbi. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Vivamus arcu felis bibendum ut.
	Odio aenean sed adipiscing diam donec adipiscing tristique risus nec. Volutpat blandit aliquam etiam erat velit
	scelerisque in dictum non. Enim tortor at auctor urna.</p>
<hr />
<h2> Owner </h2>
<figure>
	<a href="../static/images/kevin.jpg">
		<img src="../static/images/kevin.jpg" style="width:600px;height:350px;" alt="CEO Kevin O'Leary">
	</a>
	<figcaption class="caption"> CEO Kevin O'Leary </figcaption>
</figure>

<p>Pharetra diam sit amet nisl suscipit adipiscing bibendum. Ac turpis egestas maecenas pharetra convallis posuere
	morbi leo urna. Vitae congue eu consequat ac felis donec et. Enim sed faucibus turpis in eu mi bibendum neque.
	Aliquet eget sit amet tellus cras adipiscing enim eu. Donec pretium vulputate sapien nec sagittis aliquam malesuada
	bibendum. Convallis aenean et tortor at risus viverra adipiscing at in. Quam lacus suspendisse faucibus interdum
	posuere lorem. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Quis eleifend quam adipiscing vitae
	proin sagittis. Amet dictum sit amet justo. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Velit
	dignissim sodales ut eu. Viverra adipiscing at in tellus integer feugiat scelerisque. Malesuada nunc vel risus
	commodo viverra maecenas accumsan. Ac placerat vestibulum lectus mauris ultrices eros in. Lacus suspendisse faucibus
	interdum posuere lorem. Donec et odio pellentesque diam volutpat commodo sed egestas. Non diam phasellus vestibulum
	lorem sed risus ultricies tristique. Sed augue lacus viverra vitae congue eu consequat.
</p>
<hr />
<h3> Contact Information </h3>
<p class="bold">
	Address: 4444 West Mills St., Cedar Rapids, IA 52402
	<br />
	Email: contact@vtm.org
	<br />
	Phone: 319-929-9999
</p>
{% endblock %}