{% extends 'base.html' %} {% block body %}

<nav>
    <ul>
      <li><a class="active" href="./">Home</a></li>
      <li><a href="./about">About Us</a></li>
      <li><a href="./estimate">Get an Estimate</a></li>
    </ul>
  </nav>

<h2>Welcome to VTM</h2>
<figure>
    <a href="../static/images/above_ground_vertical_tanks.jpg">
        <img src="../static/images/above_ground_vertical_tanks.jpg" alt="Vertical Tanks">
    </a>
    <figcaption class="caption"> Vertical Tanks</figcaption>
</figure>
<br />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non faucibus mauris. Proin et elementum lectus, nec
    iaculis diam. Maecenas ultricies justo volutpat ultricies euismod. Donec ipsum sapien, mattis eget justo a,
    consectetur sagittis elit. Morbi ut tincidunt orci, vel feugiat neque. Aenean augue nunc, placerat ut ultrices eget,
    consectetur in metus. Proin vestibulum dolor eu sagittis scelerisque.
    <br />
    <br />
    Nullam felis nunc, consectetur eget nulla ut, pretium eleifend est. Duis eu faucibus justo. Suspendisse molestie
    suscipit felis, eu convallis lectus facilisis eget. Cras sed egestas ligula, id dapibus ligula. Ut a pulvinar nunc,
    ut egestas felis. Fusce eu ante vitae neque laoreet placerat volutpat vel odio. Curabitur eu tristique eros, at
    condimentum sapien. Vestibulum nisl lacus, malesuada eget pretium ac, pulvinar sed nisl. Vestibulum semper leo nunc,
    et ullamcorper lectus congue ut. Donec imperdiet est sit amet nibh ultricies pulvinar. Fusce at suscipit ante, sed
    elementum nisi. Cras ornare felis eu tellus vehicula hendrerit eu ut nisl. Nam at odio dictum, imperdiet turpis sit
    amet, congue nibh. Sed vel tristique neque, quis dapibus nulla. Maecenas commodo urna augue, vel iaculis justo
    dignissim eu.

</p>

<hr />
{% endblock %}